@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  --font-Head:"montserrat",sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Head);
    scroll-behavior: smooth;
}

.h1 .h2 {
  font-family: var(--font-Head);
}

.p{
  font-family: 'Courier New', Courier, monospace;
}

.section{
  transition: all 0.6s ease;
}


@keyframes gallery-slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-gallery-slide {
  animation: gallery-slide 15s linear infinite;
  display: flex;
  width: 200%; /* since we duplicated the images */
}
